/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0c121d;
  color: white;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(12,18,29,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-weight: 600;
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #D4A762;
}

/* HERO */
#hero {
  height: 100vh;
  background: url("../Images/villa.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), #0c121d);
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero-content h1 {
  font-size: 70px;
}

.hero-content p {
  margin: 20px 0;
  color: #ccc;
}

/* BUTTON */
.btn {
  background: linear-gradient(135deg, #D4A762, #B8914F);
  color: black;
  padding: 12px 30px;
  border-radius: 8px;
  text-decoration: none;
}

/* SECTION */
section {
  padding: 140px 80px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 60px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.1);
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  transition: 0.3s;
}

.card:hover::after {
  opacity: 1;
}

/* SPLIT */
.split {
  display: flex;
}

.split-img {
  flex: 1;
  background: url("../Images/kitchen.png") center/cover no-repeat;
}

.split-content {
  flex: 1;
  padding: 60px;
  background: #0c121d;
  text-align: left;
}

.split-content input,
.split-content textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 6px;
}

/* CONTACT */
.contact-box {
  max-width: 500px;
  margin: auto;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  background: #000;
}

/* RESPONSIVE */
@media(max-width: 900px){
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .split {
    flex-direction: column;
  }
}
