* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body {
  background:#0c121d;
  color:white;
  cursor:none;
}

/* CURSOR */
#cursor {
  width:8px;
  height:8px;
  background:#D4A762;
  position:fixed;
  border-radius:50%;
  pointer-events:none;
  z-index:9999;
}

#cursor-border {
  width:30px;
  height:30px;
  border:1px solid #D4A762;
  position:fixed;
  border-radius:50%;
  pointer-events:none;
  z-index:9998;
}

/* PROGRESS */
#progressBar {
  position:fixed;
  top:0;
  height:3px;
  background:#D4A762;
  width:0%;
  z-index:9999;
}

/* HEADER */
header {
  position:fixed;
  width:100%;
  padding:20px 60px;
  display:flex;
  justify-content:space-between;
  backdrop-filter:blur(12px);
  background:rgba(12,18,29,0.5);
  transition:0.3s;
}

header.scrolled {
  background:rgba(0,0,0,0.9);
}

.logo {
  display:flex;
  align-items:center;
  gap:10px;
}

.logo img {
  width:40px;
}

.nav-links {
  display:flex;
  list-style:none;
}

.nav-links a {
  margin-left:30px;
  text-decoration:none;
  color:white;
  position:relative;
}

.nav-links a::after {
  content:"";
  position:absolute;
  width:0;
  height:2px;
  background:#D4A762;
  bottom:-5px;
  left:0;
  transition:0.3s;
}

.nav-links a:hover::after {
  width:100%;
}

/* HERO */
#hero {
  display:flex;
  height:100vh;
}

.hero-left {
  flex:1;
  padding:90px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.small-title {
  font-size:12px;
  letter-spacing:5px;
  color:#aaa;
}

.hero-left h1 {
  font-size:70px;
}

.hero-left span {
  color:#D4A762;
}

.desc {
  margin:20px 0;
  color:#ccc;
}

/* HERO RIGHT */
.hero-right {
  flex:1;
  background:url("../Images/villa.jpg") center/cover no-repeat;
  margin:60px;
  border-radius:20px;
  transition:0.3s;
}

/* BUTTON */
.btn {
  background:#D4A762;
  padding:14px 28px;
  border-radius:10px;
  color:black;
  text-decoration:none;
  display:inline-block;
}

/* MAGNETIC */
.magnetic:hover {
  transform:scale(1.05);
}

/* GRID */
.grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

/* CARD */
.card img {
  width:100%;
  border-radius:15px;
}

/* PORTFOLIO */
.portfolio-item {
  position:relative;
  overflow:hidden;
  border-radius:15px;
}

.portfolio-item img {
  width:100%;
  transition:0.5s;
}

.portfolio-item:hover img {
  transform:scale(1.1) blur(2px);
}

.portfolio-item span {
  position:absolute;
  bottom:20px;
  left:20px;
  opacity:0;
  transition:0.3s;
}

.portfolio-item:hover span {
  opacity:1;
}

/* CONTACT */
.contact {
  display:flex;
  gap:40px;
}

.contact-form input,
.contact-form textarea {
  width:100%;
  margin:10px 0;
  padding:12px;
  border:none;
}

/* REVEAL */
.reveal {
  opacity:0;
  transform:translateY(40px);
  transition:0.6s;
}

.reveal.active {
  opacity:1;
  transform:translateY(0);
}

/* RESPONSIVE */
@media(max-width:900px){
  #hero{flex-direction:column;}
  .grid{grid-template-columns:1fr 1fr;}
}
